@import url('https://fonts.googleapis.com/css?family=Gugi|Noto+Sans+KR&display=swap');
body, html { 
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Noto Sans KR','Gugi', cursive;
  }
  
a{
  text-decoration: none;
}

  html { 
    background: url(../image/LodingBackground.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  /* 카드들 묶음 */
  .cards{
    width: 80%; 
    position: absolute;
    top: 10%;
    left: 10%;
    /*transform: translate(-50%, -50%);*/
    font-size:5rem;
    z-index: 2;
    text-align: center;
  }
  
  /* 카드 각각 1개 */
  .flip-card {
    background-color: transparent;
    width: 200px;
    height: 480px;
    border: 1px solid #f1f1f1;
    font-size: 50%;
    display: inline-block;
    margin: 30px auto;
    perspective: 1000px; /* 3D effect */
  }
    
  /* This container is needed to position the front and back side */
  /* 이 컨테이너는 앞쪽과 뒤쪽을 배치하기 위해 필요하다. */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
    
  .flip-card-in {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* 플립 박스 용기 위로 마우스를 이동할 때 수평 플립을 수행하십시오. */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
    
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
    
  /* Style the front side */
  .flip-card-front {
    background-color: rgba(255, 255, 255, 0.699);
    color: black;
  }
  
  .flip-card-front > img{
    width: 150px;
    margin:30px 0px 40px 0px; 
  }
    
  /* Style the back side */
  .flip-card-back 
  {
    background-color: rgba(255, 255, 255, 0.699);
    transform: rotateY(180deg);
    
  }
  .flip-card-back > h1
  {
    margin-top: 70px;
  }
  
  .small_font{
    font-size: 20px;
    margin-top: 20px;
  }
  
  .big_font{
    margin-top: 25px;
  }
  
  .btn{
    font-size: 20px;
    border: 2px solid #8f47c0;
    padding: 10px;
    margin: 20px 40px 10px 40px;
    font-size: 15px;
    color: #8f47c0;
  }
  
  .btn:hover , .btn:active{
    border: none;
    background: #9047c0;
    color: #f1f1f1;
  }

  #_temp{
    color: #ca2104;
  }

 #ing{
    padding: 3px 20px;
    color: #ce4730;
    font-size: 20px;
    margin-top: 10px;
  }

  #_weight{
    margin-top: 10px;
    color: #50ce30;
  }

  #state{
    font-size: 15px;
    margin-top: 15px;
    background-color: #50ce30;
    color: #f1f1f1;
    padding: 5px;
  }

  #weightInfo{
    font-size: 15px;
    margin-top: 15px;
  }